<main class="main" id="top">
  <div class="container" data-layout="container">
    <%= render "shared/dashboard_sidebar" %>
    <div class="content">
      <%= render "shared/utilities_navigation"%>
      <%= render "layouts/flash" %>


      
    </div>
  </div>
</main>