<nav class="navbar navbar-light navbar-vertical navbar-expand-xl">

  <%= render "shared/dashboard/sidebar_navigation_logo" %>

  <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
    <div class="navbar-vertical-content scrollbar">
      <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">

        <%= render "shared/dashboard/dashboard_main" %>

        <%= render "shared/dashboard/main_application_navigation" %>



   

      </ul>

    </div>
  </div>
</nav>