<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">
  <%= render "shared/dashboard/mobile_navigation_logo" %>

  <%= render "shared/dashboard/user_profile_navigation" %>
</nav>