<div class="welcome-area welcome-area--l2 bg-default">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-11">
        <div class="welcome-content welcome-content--l2 text-center position-relative">
            <h1 class="welcome-content--l2__heading text-gradient-blue-green" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">software for project managers</h1>
            <p class="welcome-content--l2__descriptions" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">
            LedgerCub helps business owners, project managers,
            <br class="d-none d-xs-block">Developers and Designers
            <br class="d-none d-xs-block">streamline their project management tasks with ease
            </p>

        </div>
      
        <div class="welcome-content--l2__newsletter" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true">
            <div class="newsletter-form mx-auto newsletter-form--l2">
              <div class="d-flex align-items-center justify-content-center flex-column flex-xs-row">
                  <%= link_to "Get Started","#", class: "btn btn--xxl h-45 btn-primary text-white rounded-55"%>
              </div>
            </div>
        </div>
     
      </div>

    </div>
  </div>

</div>
