    <!-- Content One Area -->
    <div class="content-section content-section--l2-1 bg-default position-relative">
      <div class="container">
        <div class="row align-items-center justify-content-center justify-content-lg-start">
          <div class="col-xl-5 col-lg-6 col-md-8 col-xs-10 order-2 order-lg-1">
            <div class="content-texts content-texts--l2-1 text-center text-lg-start">
              <h2 class="content-texts--l2-1__heading" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
                The intelligent
                <br class="d-none d-lg-block"> 
                way to manage
                <br class="d-none d-lg-block"> 
                projects
              </h2>
              <p class="content-texts--l2-1__content" data-aos="fade-right" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">
                Manage all you projects
                <br class="d-none d-xs-block"> 
                easily assign tasks to team members.
                <br class="d-none d-xs-block"> 
                Say goodbye to manual project management
              </p>
              <div class="content-texts--l2-1__button">
                <%= link_to "Get to know ledger cub", "#", class: "btn-link--2 with--line border--primary" %>
              </div>
            </div>
          </div>
          <div class="col-xl-7 col-lg-6 col-md-8 col-xs-10 order-1 order-lg-2">
            <div class="content-image-group content-image-group--l2-1">
              <%= image_tag "ledger_cub_person.png", alt: "", class:"w-75"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ .Content One Area -->