<div class="card mb-3">


  <div class="card-body position-relative">
    <div class="row">
      <div class="col-lg-8">
        <h1>Project Report</h1>
        <p class="mb-0">Project Report for <%= current_user.full_name %></p>
      </div>
    </div>
  </div>
</div>

<%= image_tag wicked_pdf_asset_base64('ledger_cub_orange.png') %>