<button 
  class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" 
  type="button" 
  data-bs-toggle="collapse" 
  data-bs-target="#navbarVerticalCollapse" 
  aria-controls="navbarVerticalCollapse" 
  aria-expanded="false" 
  aria-label="Toggle Navigation">
    <span class="navbar-toggle-icon">
      <span class="toggle-line"></span>
    </span>
</button>

<%= link_to dashboard_index_path, class: "navbar-brand me-1 me-sm-3" do %>
  <div class="d-flex align-items-center">
    <%= image_tag "ledger_cub_blue.png" ,class: "me-2", alt: "" %>
  </div>
<%end%>