<div class="d-flex align-items-center">
  <%= link_to dashboard_index_path ,class: "navbar-brand" do %>
    <div class="d-flex align-items-center py-3">
    <%= image_tag "nutrition_ledger_logo.png", class: "me-2" ,alt: "" %>
    </div>
  <%end%>
</div>