<li class="nav-item">
  <!-- label-->
  <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
    <div class="col-auto navbar-vertical-label">Statistics
    </div>
    <div class="col ps-0">
      <hr class="mb-0 navbar-vertical-divider" />
    </div>
  </div>
  <!-- parent pages-->
  
  <%= link_to reports_index_path, class: "nav-link", data: { role: "button", data_bs_toggle: "", aria_expanded: "false" } do %>
    <div class="d-flex align-items-center">
      <span class="nav-link-icon">
        <span class="fas fa-chart-bar"></span>
      </span>
      <span class="nav-link-text ps-1">Reports</span>
    </div>
  <%end%>
</li>